$color: #026aa7;
$color2: #045585;
$color_board: rgb(233, 231, 231);
$background_column_color: #e9e7e7;
$text_color: black;
$column_header_height: 35px;
$column_footer_height: 35px;
$boder_radius: 5px;
$padding: 10px;
$width_column: 290px;
.Board_column {
  display: flex;
  overflow-x: auto;
  ::after {
    content: "";
    flex: 0 0 $padding;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0.2, 0.1);
    border-radius: 8px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .Add-new-column {
    width: $width_column;
    max-width: $width_column;
    flex-wrap: wrap;
    height: 40px;
    margin-left: $padding;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: $boder_radius;
    padding-left: 20px;
    line-height: 40px;
    color: $color_board;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }
  }
  .enter-add-new-column {
    // display: none;
    width: 290px;
    max-width: 290px;
    background-color: #e9e7e7;
    margin-left: $padding;
    border-radius: $boder_radius;
    padding: 5px 20px;
    line-height: 40px;
    .input-add-new-column {
      margin-bottom: 5px;
    }
    .icon{
        margin-left: 10px;
        font-size:20px;
        color:red;
        &:hover{
            cursor: pointer;
            color: darken(red,10);
        }
    }
    .enter_button{
      width:100px;
    }
  }
}

